extends ../../../layouts/default.pug

block page-header
    h2 User's Profile

block content
    .row.mt-5
    .col-md-6.m-auto.bg-dark.p-3.text-center
        .user-heading
            img.rounded-circle.mx-auto.d-block(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100', alt='User Pic')
            h3 #{singleUser.name}
        .user-body.mt-4
            p.text-muted #{singleUser.email}
            p #{date}

