nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Your App
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li(class=isActive('/') ? 'active nav-item' : 'nav-item')
        a.nav-link(href="/" title="Home") Home
      if(isAuthenticated)
        li(class=isActive('/api') ? 'active nav-item' : 'nav-item')
          a.nav-link(href="/api" title="Api") Api
        li(class=isActive('/dical') ? 'active nav-item' : 'nav-item')
          a.nav-link(href="/dical" title="dical") DiCal
    ul.navbar-nav.my-2.my-lg-0
      if(isAuthenticated)
        -var user = req.user.name
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Hallo, #{user}
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/userProfile') Profil
            a.dropdown-item(href='/logout') Logout
      if(!isAuthenticated)
        li(class="isActive('/login') ? 'active nav-item' : 'nav-item'")
          a.nav-link(href="/login" title="Login") Login
