extends ../../../layouts/fullWidth.pug

block page-header
  h2 Project Details

block content
  .row.mt-5
      .col-md-6.m-auto
          .card.card-body
            .messages
            include ../../../includes/messages.pug
              form(action=`/admin/module/${module.name}/edit` method='POST')
                .form-group
                  p
                    strong Project Name: 
                      input.form-control(type='text', name="name" value=module.name, aria-label='Project Name')
                  p
                    strong Project Description: 
                      input.form-control(type='text', name="description" value=module.description, aria-label='Project Description')
                button.btn.btn-primary(type="submit") Speichern