extends ../../../layouts/fullWidth.pug

block page-header
  h2 Issue Type Schemes

block content
  .row.mt-5
    .col-md-6.m-auto
      .card.card-body
        p
          strong Issue Type Scheme Name: 
          | #{issueTypeScheme.name}
        small
          | Issue Type Scheme Description: 
          | #{issueTypeScheme.description}
        hr
        h5 Fields:
        #list-tab.list-group(role='tablist')
          each field,index in issueTypeScheme.fields
            a#list-home-list.list-group-item.list-group-item-action.d-flex.justify-content-between.border.border-light.rounded.mb-2(href='#list-home', role='tab', aria-controls='home') #{field.name}
              span.badge.badge-primary.badge-pill.d-flex.align-items-center #{field.type}
