#addModuleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Create Issue for&nbsp;
          span ###
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .form
          if issueTypes
            .form-group
              label(for='issueType') Issue Type:
              select#issueType.form-control
                each issueType in issueTypes
                  option #{issueType.name}
            .form-group
              label.control-label(for='name') Summary
              input#name.form-control(type='text', placeholder='Summary')
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button',id="issueSaveBtn") Save changes
