extends ../layouts/default.pug

block page-header
  h2 Waffle admin

block content
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/admin/users') Users
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/admin/projects') Projects
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/admin/modules') Modules
  
