extends ../layouts/fullWidth.pug

block page-header
  h1 Waffle-Admin Page

block content
  .d-flex
    .col-2
      include ./includes/leftNavigation.pug
    .col-10
      h3 Some nice statistics
     
  
