extends ../../../layouts/fullWidth.pug

block page-header
  h2 Project Details

block content
  .row.mt-5
      .col-md-6.m-auto
          .card.card-body
            p
              strong Project Name: 
              | #{project.name}
            p
              strong Project Description: 
              | #{project.description}
            p
              strong Project Key: 
              | #{project.key}