extends ../layouts/default.pug

block page-header
  h2 Waffle API

block content
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/api/users') Users
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/api/projects') Projects
  .row
    .col-2.mt-3
      a.btn.btn-primary(type='button',href='/api/modules') Modules
  
