extends ../../layouts/fullWidth.pug

block page-header
  h2 All the Waffle-Projects

block content
  .mt-5
    .messages
    include ../../includes/messages.pug
    h5.col-2 Add Project
    form(action='/admin/projects' method='POST').d-flex
      .col-4   
        input#name.form-control(type='text' name='name' placeholder='Enter Name' value=name)
      .col-4
        input#name.form-control(type='text' name='description' placeholder='Enter Description' value=description)
      .col-1
        button.btn.btn-primary.btn-block(type='submit') Create
        
  include ./projectsTable.pug
