if(projects)
  .row.mt-5
    .col-md.m-auto
      table.table.table-hover
        thead
          tr
            th Id
            th Name
            th Description
            th &nbsp;
            th &nbsp;
            th &nbsp;
        tbody
          each project,index in projects
            tr
              td #{index}
              td #{project.name}
              td #{project.description}
              td
                a.btn.btn-info(href="project/"+project.key+"/details") Details
              td
                a.btn.btn-info(href="project/"+project.key+"/edit") Edit
              td
                a.btn.btn-warning(href="project/"+project.key+"/delete") Delete