extends ../../layouts/default.pug

block page-header
  h2 Waffle Users  

block content
  include ../../includes/messages.pug
  .row
    .col-2.mt-3
      a.btn.btn-primary.btn-block(type='button',href='/api/users/create') Create Waffle User
  .row  
    .col-2.mt-3
      a.btn.btn-primary.btn-block(type='button',href='/api/users/show') Show Waffle Users
