if(modules)
  .row.mt-5
    .col-md.m-auto
      table.table.table-hover
        thead
          tr
            th Id
            th Name
            th Description
            th &nbsp;
            th &nbsp;
            th &nbsp;
        tbody
          each module,index in modules
            tr
              td #{index}
              td #{module.name}
              td #{module.description}
              td
                a.btn.btn-info(href="module/"+module.name+"/details") Details
              td
                a.btn.btn-info(href="module/"+module.name+"/edit") Edit
              td
                a.btn.btn-warning(href="module/"+module.name+"/delete") Delete