.flex-column
    a.btn.btn-block.btn-warning.text-left(type='button',href='/admin/api') API Endpoints
    a.btn.btn-block.btn-primary.text-left(type='button',href='/admin/users') Users
    a.btn.btn-block.btn-primary.text-left(type='button',href='/admin/projects') Projects
    a.btn.btn-block.btn-primary.text-left(type='button',href='/admin/issueTypes') Issue Types
    a.btn.btn-block.btn-primary.text-left(type='button',href='/admin/issueTypeSchemes') Issue Type Schemes