extends ../layouts/fullWidth.pug

block page-header
  include ./pagination

block content
  .d-flex.justify-content-end
    if(weekdays && dayNames)
      each day,index in weekdays
        -var isToday = today[index] ? 'today' : ''
        .col.border-left.border-secondary.text-center(class=isToday)
          .col
            h5 #{dayNames[index]}
            span #{day}
          .col.mt-3
            form(method='POST')
              button(tpye='submit').btn.btn-block.btn-success Tag erstellen