extends ../layouts/fullWidth.pug

block page-header
  h2 This is where i want to go!

block content
  .bg-dark.d-flex.justify-content-end
    .col-1.border-left Montag
    .col-1.border-left Dienstag
    .col-1.border-left Mittwoch
    .col-1.border-left Donnerstag
    .col-1.border-left Freitag
    .col-1.border-left Samstag
    .col-1.border-left Sonntag
